.carousel-inner img {
    width: 100%;
    height: auto;
}

.carousel-indicators {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.carousel-indicators button {
    width: 60px;
    height: 60px;
    border-radius: 5px;
    overflow: hidden;
    margin: 0 5px;
    padding: 0;
}

.carousel-indicators button img {
    width: 100%;
    height: auto;
}
